@font-face {
    font-family: 'fontello';
    src: url("../font/fontello.f16855e139e0.eot?29457042");
    src: url("../font/fontello.f16855e139e0.eot?29457042#iefix") format('embedded-opentype'),
         url("../font/fontello.28fdd7482c57.woff2?29457042") format('woff2'),
         url("../font/fontello.e930f106919e.woff?29457042") format('woff'),
         url("../font/fontello.2eab1782307f.ttf?29457042") format('truetype'),
         url("../font/fontello.43c2f4ff6c42.svg?29457042#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url("../font/fontello.43c2f4ff6c42.svg?29457042#fontello") format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-download:before { content: '\e800'; } /* 'î €' */
  .icon-heart:before { content: '\e801'; } /* 'î ' */
  .icon-cog:before { content: '\e802'; } /* 'î ‚' */
  .icon-user:before { content: '\e803'; } /* 'î ƒ' */
  .icon-crown:before { content: '\e804'; } /* 'î „' */
  .icon-right-dir:before { content: '\e805'; } /* 'î …' */
  .icon-floppy:before { content: '\e806'; } /* 'î †' */
  .icon-mail:before { content: '\e807'; } /* 'î ‡' */
  .icon-cloud:before { content: '\e808'; } /* 'î ˆ' */
  .icon-search:before { content: '\e809'; } /* 'î ‰' */
  .icon-book-outline:before { content: '\e80a'; } /* 'î Š' */
  .icon-cancel-thin:before { content: '\e80b'; } /* 'î ‹' */
  .icon-flag:before { content: '\e80c'; } /* 'î Œ' */
  .icon-upload:before { content: '\e80d'; } /* 'î ' */
  .icon-minus:before { content: '\e80e'; } /* 'î Ž' */
  .icon-edit:before { content: '\e810'; } /* 'î ' */
  .icon-pencil:before { content: '\e811'; } /* 'î ‘' */
  .icon-flash:before { content: '\e812'; } /* 'î ’' */
  .icon-down:before { content: '\e813'; } /* 'î “' */
  .icon-award:before { content: '\e814'; } /* 'î ”' */
  .icon-off:before { content: '\e815'; } /* 'î •' */
  .icon-home_alt_outline:before { content: '\e816'; } /* 'î –' */
  .icon-list:before { content: '\e817'; } /* 'î —' */
  .icon-circle-up:before { content: '\e818'; } /* 'î ˜' */
  .icon-print:before { content: '\e819'; } /* 'î ™' */
  .icon-play:before { content: '\e81a'; } /* 'î š' */
  .icon-right:before { content: '\e81b'; } /* 'î ›' */
  .icon-key:before { content: '\e81c'; } /* 'î œ' */
  .icon-book-open:before { content: '\e81d'; } /* 'î ' */
  .icon-bull:before { content: '\e81f'; } /* 'î Ÿ' */
  .icon-cancel:before { content: '\e820'; } /* 'î  ' */
  .icon-drag:before { content: '\e822'; } /* 'î ¢' */
  .icon-ok-circled-1:before { content: '\e823'; } /* 'î £' */
  .icon-tools:before { content: '\e824'; } /* 'î ¤' */
  .icon-more-vertical:before { content: '\e826'; } /* 'î ¦' */
  .icon-info:before { content: '\e827'; } /* 'î §' */
  .icon-user-line:before { content: '\e828'; } /* 'î ¨' */
  .icon-link:before { content: '\e829'; } /* 'î ©' */
  .icon-moon:before { content: '\e82a'; } /* 'î ª' */
  .icon-results:before { content: '\e82b'; } /* 'î «' */
  .icon-empty:before { content: '\e82c'; } /* 'î ¬' */
  .icon-trash:before { content: '\e82d'; } /* 'î ­' */
  .icon-plus:before { content: '\e82e'; } /* 'î ®' */
  .icon-sun:before { content: '\e82f'; } /* 'î ¯' */
  .icon-settings:before { content: '\e830'; } /* 'î °' */
  .icon-news:before { content: '\e831'; } /* 'î ±' */
  .icon-screens:before { content: '\e832'; } /* 'î ²' */
  .icon-monitor:before { content: '\e833'; } /* 'î ³' */
  .icon-circle-down:before { content: '\e834'; } /* 'î ´' */
  .icon-dot:before { content: '\e835'; } /* 'î µ' */
  .icon-announcements:before { content: '\e838'; } /* 'î ¸' */
  .icon-clock:before { content: '\e83d'; } /* 'î ½' */
  .icon-bear:before { content: '\e848'; } /* 'î¡ˆ' */
  .icon-link-ext:before { content: '\f08e'; } /* 'ï‚Ž' */
  .icon-watchlist:before { content: '\f0ae'; } /* 'ï‚®' */
  .icon-filter:before { content: '\f0b0'; } /* 'ï‚°' */
  .icon-beaker:before { content: '\f0c3'; } /* 'ïƒƒ' */
  .icon-bell:before { content: '\f0f3'; } /* 'ïƒ³' */
  .icon-document:before { content: '\f0f6'; } /* 'ïƒ¶' */
  .icon-file-pdf:before { content: '\f1c1'; } /* 'ï‡' */
  .icon-calc:before { content: '\f1ec'; } /* 'ï‡¬' */
  .icon-user-plus:before { content: '\f234'; } /* 'ïˆ´' */